.Form {
  /* margin-left: 200px; */
}
/* .card-group {
  display: flex;

  align-self: flex-end;
}
.card {
  margin-right: 50px;
} */
.img-prod {
  margin-top: 100px;
  width: 10px;
  height: 350px;
}
.img-wrap img {
  width: 250px;
  margin-left: 50px;
}
